<nav class="nav"
     th:fragment="nav"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

    <a th:href="@{/tours}" th:text="#{nav.tours}">Tours</a>

    <a sec:authorize="isAuthenticated()"
       th:href="@{/profile}"
       th:text="#{nav.profile}">
        Profile
    </a>

    <a sec:authorize="hasRole('USER')"
       th:href="@{/bookings}"
       th:text="#{nav.bookings}">
        My bookings
    </a>

    <a sec:authorize="hasAnyRole('MANAGER','ADMIN')"
       th:href="@{/manager/bookings}"
       th:text="#{nav.bookedTours}">
        Booked tours
    </a>

    <a sec:authorize="hasRole('ADMIN')"
       th:href="@{/admin/users}"
       th:text="#{nav.users}">
        Users
    </a>

    <span class="spacer"></span>

    <a th:href="@{?lang=en}">EN</a>
    <a th:href="@{?lang=uk}">UA</a>

    <a sec:authorize="isAnonymous()"
       th:href="@{/auth/login}"
       th:text="#{nav.login}">
        Login
    </a>

    <a sec:authorize="isAnonymous()"
       th:href="@{/auth/register}"
       th:text="#{nav.register}">
        Register
    </a>

    <form sec:authorize="isAuthenticated()"
          th:action="@{/auth/logout}"
          method="post"
          class="nav-logout-form">
        <button type="submit"
                class="nav-logout-button"
                th:text="#{nav.logout}">
            Logout
        </button>
    </form>
</nav>